<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/zero.jpg" alt="">
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/jpeg">
        <input type="submit" value="Submit upload">
    </form>
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="text" name="url" placeholder="Paste URL">
        <input type="submit" value="Submit URL">
    </form>
  </body>
</html>